<mat-card class="c">
    <mat-card-title> Login </mat-card-title>
    <mat-card-content>
    <form id="formData" #userData ="ngForm" (ngSubmit) = "loginUser(userData.value)">
    <mat-form-field>
    <input matInput placeholder= "firstname" name= "firstname" type="text" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
    <input matInput placeholder ="password " name="password" type="password" ngModel>
    </mat-form-field>
    <br>
    <input type="submit" value= "login" mat-Button>
    </form>
    </mat-card-content>
    </mat-card>